@charset "UTF-8";


.top{
    height: 50px;
}



ol{
    display: none;
}

h2{
    font-style: italic;
    font-family: serif;
    text-align: center;
}

h2:hover{
    color: red;
}

h4 {
    text-align: center;
    font-style: italic;
    font-family: serif;
}

.vv {
    font-size: 35px;
    text-align: center;
}